/* Add this CSS to your stylesheet or within the style attribute of the <style> tag in your component.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

.card-img-top {
  height: 200px;
  object-fit: cover;
  
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-success {
  color: #007bff;
}

