<div class="container">
    <div class="row my-5">
        <div class="col-6  ">
            <img src={{product[0].images}} alt="" class="border object-fit-cover ">
        </div>
        <div class="col-6">
            <h3>{{product[0].title}}</h3>
            <p><span class="text-success fw-bolder">Category: </span> {{product[0].category}}.</p>
            <p><span class="text-success fw-bolder">Brand: </span> {{product[0].brand}}.</p>
            <p><span class="text-success fw-bolder">Price: </span>{{product[0].price}}$</p>
            <p><span class="text-success fw-bolder">Rating: </span>{{product[0].rating}}</p>
            <p><span class="text-success fw-bolder d-block ">Description: </span>{{product[0].description}}.</p>
            <p><span class="text-success fw-bolder">Discount: </span>{{product[0].discountPercentage}}%</p>
        </div>
    </div>
</div>
