<div class="container login-container">
    <div class="row">
        <div class="col-md-4 login-form">
            <h3>Sign Up</h3>
   
        <form [formGroup]="signupForm" >
          <div >
            <label for="nom">Nom</label>
            <input formControlName="nom"  type="text" class="form-control" >
          </div>
          <div *ngIf="signupForm.get('nom')?.invalid && (signupForm.get('nom')?.dirty || signupForm.get('nom')?.touched)">
            <div *ngIf="signupForm.get('nom')?.errors" style="color: red;">Le nom est invalide first Letter Majuscule </div>
          </div>
          <div >
            <label for="prenom">Prenom</label>
            <input formControlName="prenom"  type="text" class="form-control">
          </div>
          <div *ngIf="signupForm.get('prenom')?.invalid && (signupForm.get('prenom')?.dirty || signupForm.get('prenom')?.touched)">
            <div *ngIf="signupForm.get('prenom')?.errors" style="color: red;">Le prenom est invalide first Letter Majuscule </div>
          </div>
        <div >
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="text" class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
            <div *ngIf="signupForm.get('email')?.errors" style="color: red;">Le email est invalide</div>
          </div>
        <div>
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="text" class="form-control">
        </div>
        <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
            <div *ngIf="signupForm.get('password')?.errors" style="color: red;">Le password est invalide </div>
        </div>


             
        <button type="submit" (click)="signUp()" class="btn btn-primary">Sign UP</button>
        <a routerLink="/login">Already registred ?  Click to login</a> 
        </form>
    </div>

    